USE [TechTrack]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 4/4/2025 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id_Categoria] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](200) NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[Id_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 4/4/2025 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Id_Empleado] [int] NOT NULL,
	[Id_Sucursal_FK] [int] NULL,
	[RFC_Empleado] [varchar](50) NULL,
	[Nombre] [nvarchar](50) NULL,
	[Apellido] [nvarchar](50) NULL,
	[Puesto] [nvarchar](50) NULL,
	[Salario] [money] NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[Id_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 4/4/2025 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[Id_Empresa] [int] NOT NULL,
	[RFC] [varchar](50) NULL,
	[Nombre] [nvarchar](50) NULL,
	[Telefono] [nvarchar](50) NULL,
	[Correo] [varchar](50) NULL,
	[DireccionFiscal] [nvarchar](200) NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[Id_Empresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gerente]    Script Date: 4/4/2025 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gerente](
	[Id_Empleado] [int] NOT NULL,
	[Nivel_Gerencial] [varchar](50) NULL,
	[Fecha_Ascenso] [date] NULL,
 CONSTRAINT [PK_Gerente] PRIMARY KEY CLUSTERED 
(
	[Id_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 4/4/2025 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marca](
	[Id_Marca] [int] NOT NULL,
	[Nombre_Categoria] [nvarchar](50) NULL,
	[Pais_Origen] [nvarchar](50) NULL,
	[Sitio_Web] [varchar](50) NULL,
 CONSTRAINT [PK_Marca] PRIMARY KEY CLUSTERED 
(
	[Id_Marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modelo]    Script Date: 4/4/2025 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modelo](
	[Id_Modelo] [int] NOT NULL,
	[Nombre_Modelo] [varchar](50) NULL,
	[Especificaciones] [varchar](50) NULL,
	[Id_Marca_FK] [int] NULL,
	[Id_Categoria_FK] [int] NULL,
 CONSTRAINT [PK_Modelo] PRIMARY KEY CLUSTERED 
(
	[Id_Modelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orden_Producto]    Script Date: 4/4/2025 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orden_Producto](
	[Id_Producto] [int] NOT NULL,
	[Id_Orden] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_Orden_Producto] PRIMARY KEY CLUSTERED 
(
	[Id_Producto] ASC,
	[Id_Orden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orden_Reabastecimiento]    Script Date: 4/4/2025 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orden_Reabastecimiento](
	[Id_Orden] [int] NOT NULL,
	[FechaCreacion] [date] NULL,
	[Estado] [nvarchar](50) NULL,
	[Prioridad] [nvarchar](50) NULL,
	[Comentarios] [nvarchar](50) NULL,
	[Id_Sucursal_FK] [int] NULL,
	[Id_Proveedor_FK] [int] NULL,
	[Id_Empleado_FK] [int] NULL,
 CONSTRAINT [PK_Orden_Reabastecimiento] PRIMARY KEY CLUSTERED 
(
	[Id_Orden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 4/4/2025 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](200) NULL,
	[Precio] [money] NULL,
	[Id_Modelo_FK] [int] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto_Proveedor]    Script Date: 4/4/2025 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto_Proveedor](
	[Id_Proveedor] [int] NOT NULL,
	[Id_Producto] [int] NOT NULL,
 CONSTRAINT [PK_Producto_Proveedor] PRIMARY KEY CLUSTERED 
(
	[Id_Proveedor] ASC,
	[Id_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 4/4/2025 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[Id_Proveedor] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Telefono] [varchar](10) NULL,
	[Correo] [varchar](50) NULL,
	[Tipo] [nvarchar](50) NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[Id_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor_Internacional]    Script Date: 4/4/2025 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor_Internacional](
	[Id_Proveedor] [int] NOT NULL,
	[Nacionalidad] [nvarchar](50) NULL,
	[Divisas] [varchar](50) NULL,
 CONSTRAINT [PK_Proveedor_Internacional] PRIMARY KEY CLUSTERED 
(
	[Id_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor_Nacional]    Script Date: 4/4/2025 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor_Nacional](
	[Id_Proveedor] [int] NOT NULL,
	[RFC] [nvarchar](50) NULL,
	[Direccion] [nvarchar](200) NULL,
	[Estado] [nvarchar](50) NULL,
	[Ciudad] [nvarchar](50) NULL,
 CONSTRAINT [PK_Proveedor_Nacional] PRIMARY KEY CLUSTERED 
(
	[Id_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sucursal]    Script Date: 4/4/2025 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursal](
	[IdSucursal] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Direccion] [nvarchar](50) NULL,
	[Ciudad] [nvarchar](50) NULL,
	[Telefono] [varchar](10) NULL,
	[Id_Empresa_FK] [int] NULL,
 CONSTRAINT [PK_Sucursal] PRIMARY KEY CLUSTERED 
(
	[IdSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sucursal_Producto]    Script Date: 4/4/2025 2:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursal_Producto](
	[Id_Sucursal] [int] NOT NULL,
	[Id_Producto] [int] NOT NULL,
	[Stock] [int] NULL,
 CONSTRAINT [PK_Sucursal_Producto] PRIMARY KEY CLUSTERED 
(
	[Id_Sucursal] ASC,
	[Id_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categoria] ([Id_Categoria], [Nombre], [Descripcion]) VALUES (1, N'Celulares', N'Dispositivos moviles inteligentes')
GO
INSERT [dbo].[Categoria] ([Id_Categoria], [Nombre], [Descripcion]) VALUES (2, N'Tarjetas Madre', N'Placas base para PC')
GO
INSERT [dbo].[Categoria] ([Id_Categoria], [Nombre], [Descripcion]) VALUES (3, N'Tarjetas Gráficas', N'Unidades de procesamiento gráfico')
GO
INSERT [dbo].[Empleado] ([Id_Empleado], [Id_Sucursal_FK], [RFC_Empleado], [Nombre], [Apellido], [Puesto], [Salario]) VALUES (1, 1, N'EMP1001', N'Laura', N'Ramírez', N'Gerente', 28000.0000)
GO
INSERT [dbo].[Empleado] ([Id_Empleado], [Id_Sucursal_FK], [RFC_Empleado], [Nombre], [Apellido], [Puesto], [Salario]) VALUES (2, 1, N'EMP1002', N'Mario', N'Ortega', N'Almacenista', 16000.0000)
GO
INSERT [dbo].[Empleado] ([Id_Empleado], [Id_Sucursal_FK], [RFC_Empleado], [Nombre], [Apellido], [Puesto], [Salario]) VALUES (3, 2, N'EMP1003', N'Sonia', N'Ríos', N'Gerente', 27000.0000)
GO
INSERT [dbo].[Empresa] ([Id_Empresa], [RFC], [Nombre], [Telefono], [Correo], [DireccionFiscal]) VALUES (1, N'TEL930201HT7', N'TechnologyLife', N'3336544953', N'contacto@technologylife.com', N'Av. Patria 1891, Col. Jardines Universidad, Zapopan, Jalisco')
GO
INSERT [dbo].[Gerente] ([Id_Empleado], [Nivel_Gerencial], [Fecha_Ascenso]) VALUES (1, N'Senior', CAST(N'2022-03-15' AS Date))
GO
INSERT [dbo].[Gerente] ([Id_Empleado], [Nivel_Gerencial], [Fecha_Ascenso]) VALUES (3, N'Medio', CAST(N'2023-10-01' AS Date))
GO
INSERT [dbo].[Gerente] ([Id_Empleado], [Nivel_Gerencial], [Fecha_Ascenso]) VALUES (5, N'Medio', CAST(N'2023-06-20' AS Date))
GO
INSERT [dbo].[Marca] ([Id_Marca], [Nombre_Categoria], [Pais_Origen], [Sitio_Web]) VALUES (1, N'Apple', N'Estados Unidos', N'https://www.apple.com')
GO
INSERT [dbo].[Marca] ([Id_Marca], [Nombre_Categoria], [Pais_Origen], [Sitio_Web]) VALUES (2, N'MSI', N'Taiwán', N'https://www.msi.com')
GO
INSERT [dbo].[Marca] ([Id_Marca], [Nombre_Categoria], [Pais_Origen], [Sitio_Web]) VALUES (3, N'ASUS', N'Taiwán', N'https://www.asus.com')
GO
INSERT [dbo].[Modelo] ([Id_Modelo], [Nombre_Modelo], [Especificaciones], [Id_Marca_FK], [Id_Categoria_FK]) VALUES (1, N'iPhone 15 Pro Max 256GB', N'Titanio, A17 Pro, iOS 17', 1, 1)
GO
INSERT [dbo].[Modelo] ([Id_Modelo], [Nombre_Modelo], [Especificaciones], [Id_Marca_FK], [Id_Categoria_FK]) VALUES (2, N'iPhone 15 Pro 128GB', N'Aluminio, A17 Pro, iOS 17', 1, 1)
GO
INSERT [dbo].[Modelo] ([Id_Modelo], [Nombre_Modelo], [Especificaciones], [Id_Marca_FK], [Id_Categoria_FK]) VALUES (3, N'iPhone 15 128GB', N'Aluminio, A16 Bionic, iOS 17', 1, 1)
GO
INSERT [dbo].[Orden_Producto] ([Id_Producto], [Id_Orden], [Cantidad]) VALUES (1, 9, 10)
GO
INSERT [dbo].[Orden_Producto] ([Id_Producto], [Id_Orden], [Cantidad]) VALUES (1, 10, 10)
GO
INSERT [dbo].[Orden_Producto] ([Id_Producto], [Id_Orden], [Cantidad]) VALUES (2, 9, 10)
GO
INSERT [dbo].[Orden_Reabastecimiento] ([Id_Orden], [FechaCreacion], [Estado], [Prioridad], [Comentarios], [Id_Sucursal_FK], [Id_Proveedor_FK], [Id_Empleado_FK]) VALUES (1, CAST(N'2025-04-04' AS Date), N'Completada', N'Media', N'Abastecimiento inicial', 1, 1, 1)
GO
INSERT [dbo].[Orden_Reabastecimiento] ([Id_Orden], [FechaCreacion], [Estado], [Prioridad], [Comentarios], [Id_Sucursal_FK], [Id_Proveedor_FK], [Id_Empleado_FK]) VALUES (2, CAST(N'2025-04-04' AS Date), N'Completada', N'Media', N'Abastecimiento inicial', 2, 7, 3)
GO
INSERT [dbo].[Orden_Reabastecimiento] ([Id_Orden], [FechaCreacion], [Estado], [Prioridad], [Comentarios], [Id_Sucursal_FK], [Id_Proveedor_FK], [Id_Empleado_FK]) VALUES (3, CAST(N'2025-04-04' AS Date), N'Completada', N'Media', N'Abastecimiento inicial', 3, 3, 5)
GO
INSERT [dbo].[Producto] ([IdProducto], [Nombre], [Descripcion], [Precio], [Id_Modelo_FK]) VALUES (1, N'iPhone 15 Pro Max', N'Celular Apple gama alta, titanio, 256GB', 28999.0000, 1)
GO
INSERT [dbo].[Producto] ([IdProducto], [Nombre], [Descripcion], [Precio], [Id_Modelo_FK]) VALUES (2, N'iPhone 15 Pro', N'Celular Apple gama alta, 128GB', 24999.0000, 2)
GO
INSERT [dbo].[Producto] ([IdProducto], [Nombre], [Descripcion], [Precio], [Id_Modelo_FK]) VALUES (3, N'iPhone 15', N'Celular Apple estándar, 128GB', 19999.0000, 3)
GO
INSERT [dbo].[Producto_Proveedor] ([Id_Proveedor], [Id_Producto]) VALUES (1, 1)
GO
INSERT [dbo].[Producto_Proveedor] ([Id_Proveedor], [Id_Producto]) VALUES (1, 2)
GO
INSERT [dbo].[Producto_Proveedor] ([Id_Proveedor], [Id_Producto]) VALUES (1, 3)
GO
INSERT [dbo].[Proveedor] ([Id_Proveedor], [Nombre], [Telefono], [Correo], [Tipo]) VALUES (1, N'Distribuciones Apple MX', N'5540010023', N'ventas@applemx.com', N'Nacional')
GO
INSERT [dbo].[Proveedor] ([Id_Proveedor], [Nombre], [Telefono], [Correo], [Tipo]) VALUES (2, N'MSI Global', N'8862003001', N'global@msi.com', N'Internacional')
GO
INSERT [dbo].[Proveedor] ([Id_Proveedor], [Nombre], [Telefono], [Correo], [Tipo]) VALUES (3, N'ASUS México', N'5546242426', N'ventas@asuslatam.com', N'Nacional')
GO
INSERT [dbo].[Proveedor_Internacional] ([Id_Proveedor], [Nacionalidad], [Divisas]) VALUES (2, N'Taiwan', N'Dólar')
GO
INSERT [dbo].[Proveedor_Internacional] ([Id_Proveedor], [Nacionalidad], [Divisas]) VALUES (6, N'Taiwan', N'Dólar')
GO
INSERT [dbo].[Proveedor_Nacional] ([Id_Proveedor], [RFC], [Direccion], [Estado], [Ciudad]) VALUES (1, N'APL010101MX1', N'Av. Reforma 250, Piso 12', N'CDMX', N'Ciudad de Mexico')
GO
INSERT [dbo].[Proveedor_Nacional] ([Id_Proveedor], [RFC], [Direccion], [Estado], [Ciudad]) VALUES (3, N'ASL110101LA7', N'Av. Insurgentes Sur 1647, Piso 10', N'CDMX', N'Ciudad de Mexico')
GO
INSERT [dbo].[Proveedor_Nacional] ([Id_Proveedor], [RFC], [Direccion], [Estado], [Ciudad]) VALUES (4, N'INT130101MX3', N'Av. Patria 3000', N'Jalisco', N'Guadalajara')
GO
INSERT [dbo].[Sucursal] ([IdSucursal], [Nombre], [Direccion], [Ciudad], [Telefono], [Id_Empresa_FK]) VALUES (1, N'Sucursal Andares', N'Blvd. Puerta de Hierro 4965', N'Zapopan', N'3331002001', 1)
GO
INSERT [dbo].[Sucursal] ([IdSucursal], [Nombre], [Direccion], [Ciudad], [Telefono], [Id_Empresa_FK]) VALUES (2, N'Sucursal Centro GDL', N'Av. Juárez 123', N'Guadalajara', N'3332003002', 1)
GO
INSERT [dbo].[Sucursal] ([IdSucursal], [Nombre], [Direccion], [Ciudad], [Telefono], [Id_Empresa_FK]) VALUES (3, N'Sucursal Plaza del Sol', N'Av. López Mateos Sur 2375', N'Zapopan', N'3333004003', 1)
GO
INSERT [dbo].[Sucursal_Producto] ([Id_Sucursal], [Id_Producto], [Stock]) VALUES (1, 1, 10)
GO
INSERT [dbo].[Sucursal_Producto] ([Id_Sucursal], [Id_Producto], [Stock]) VALUES (1, 2, 10)
GO
INSERT [dbo].[Sucursal_Producto] ([Id_Sucursal], [Id_Producto], [Stock]) VALUES (1, 3, 10)
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Sucursal] FOREIGN KEY([Id_Sucursal_FK])
REFERENCES [dbo].[Sucursal] ([IdSucursal])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Sucursal]
GO
ALTER TABLE [dbo].[Gerente]  WITH CHECK ADD  CONSTRAINT [FK_Gerente_Empleado] FOREIGN KEY([Id_Empleado])
REFERENCES [dbo].[Empleado] ([Id_Empleado])
GO
ALTER TABLE [dbo].[Gerente] CHECK CONSTRAINT [FK_Gerente_Empleado]
GO
ALTER TABLE [dbo].[Modelo]  WITH CHECK ADD  CONSTRAINT [FK_Modelo_Categoria] FOREIGN KEY([Id_Categoria_FK])
REFERENCES [dbo].[Categoria] ([Id_Categoria])
GO
ALTER TABLE [dbo].[Modelo] CHECK CONSTRAINT [FK_Modelo_Categoria]
GO
ALTER TABLE [dbo].[Modelo]  WITH CHECK ADD  CONSTRAINT [FK_Modelo_Marca] FOREIGN KEY([Id_Marca_FK])
REFERENCES [dbo].[Marca] ([Id_Marca])
GO
ALTER TABLE [dbo].[Modelo] CHECK CONSTRAINT [FK_Modelo_Marca]
GO
ALTER TABLE [dbo].[Orden_Producto]  WITH CHECK ADD  CONSTRAINT [FK_Orden_Producto_Orden_Reabastecimiento] FOREIGN KEY([Id_Orden])
REFERENCES [dbo].[Orden_Reabastecimiento] ([Id_Orden])
GO
ALTER TABLE [dbo].[Orden_Producto] CHECK CONSTRAINT [FK_Orden_Producto_Orden_Reabastecimiento]
GO
ALTER TABLE [dbo].[Orden_Producto]  WITH CHECK ADD  CONSTRAINT [FK_Orden_Producto_Producto] FOREIGN KEY([Id_Producto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[Orden_Producto] CHECK CONSTRAINT [FK_Orden_Producto_Producto]
GO
ALTER TABLE [dbo].[Orden_Reabastecimiento]  WITH CHECK ADD  CONSTRAINT [FK_Orden_Reabastecimiento_Empleado] FOREIGN KEY([Id_Empleado_FK])
REFERENCES [dbo].[Empleado] ([Id_Empleado])
GO
ALTER TABLE [dbo].[Orden_Reabastecimiento] CHECK CONSTRAINT [FK_Orden_Reabastecimiento_Empleado]
GO
ALTER TABLE [dbo].[Orden_Reabastecimiento]  WITH CHECK ADD  CONSTRAINT [FK_Orden_Reabastecimiento_Proveedor] FOREIGN KEY([Id_Proveedor_FK])
REFERENCES [dbo].[Proveedor] ([Id_Proveedor])
GO
ALTER TABLE [dbo].[Orden_Reabastecimiento] CHECK CONSTRAINT [FK_Orden_Reabastecimiento_Proveedor]
GO
ALTER TABLE [dbo].[Orden_Reabastecimiento]  WITH CHECK ADD  CONSTRAINT [FK_Orden_Reabastecimiento_Sucursal] FOREIGN KEY([Id_Sucursal_FK])
REFERENCES [dbo].[Sucursal] ([IdSucursal])
GO
ALTER TABLE [dbo].[Orden_Reabastecimiento] CHECK CONSTRAINT [FK_Orden_Reabastecimiento_Sucursal]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Modelo] FOREIGN KEY([Id_Modelo_FK])
REFERENCES [dbo].[Modelo] ([Id_Modelo])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Modelo]
GO
ALTER TABLE [dbo].[Producto_Proveedor]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Proveedor_Producto] FOREIGN KEY([Id_Producto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[Producto_Proveedor] CHECK CONSTRAINT [FK_Producto_Proveedor_Producto]
GO
ALTER TABLE [dbo].[Producto_Proveedor]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Proveedor_Proveedor] FOREIGN KEY([Id_Proveedor])
REFERENCES [dbo].[Proveedor] ([Id_Proveedor])
GO
ALTER TABLE [dbo].[Producto_Proveedor] CHECK CONSTRAINT [FK_Producto_Proveedor_Proveedor]
GO
ALTER TABLE [dbo].[Proveedor_Internacional]  WITH CHECK ADD  CONSTRAINT [FK_Proveedor_Internacional_Proveedor] FOREIGN KEY([Id_Proveedor])
REFERENCES [dbo].[Proveedor] ([Id_Proveedor])
GO
ALTER TABLE [dbo].[Proveedor_Internacional] CHECK CONSTRAINT [FK_Proveedor_Internacional_Proveedor]
GO
ALTER TABLE [dbo].[Proveedor_Nacional]  WITH CHECK ADD  CONSTRAINT [FK_Proveedor_Nacional_Proveedor] FOREIGN KEY([Id_Proveedor])
REFERENCES [dbo].[Proveedor] ([Id_Proveedor])
GO
ALTER TABLE [dbo].[Proveedor_Nacional] CHECK CONSTRAINT [FK_Proveedor_Nacional_Proveedor]
GO
ALTER TABLE [dbo].[Sucursal]  WITH CHECK ADD  CONSTRAINT [FK_Sucursal_Empresa] FOREIGN KEY([Id_Empresa_FK])
REFERENCES [dbo].[Empresa] ([Id_Empresa])
GO
ALTER TABLE [dbo].[Sucursal] CHECK CONSTRAINT [FK_Sucursal_Empresa]
GO
ALTER TABLE [dbo].[Sucursal_Producto]  WITH CHECK ADD  CONSTRAINT [FK_Sucursal_Producto_Producto] FOREIGN KEY([Id_Producto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[Sucursal_Producto] CHECK CONSTRAINT [FK_Sucursal_Producto_Producto]
GO
ALTER TABLE [dbo].[Sucursal_Producto]  WITH CHECK ADD  CONSTRAINT [FK_Sucursal_Producto_Sucursal] FOREIGN KEY([Id_Sucursal])
REFERENCES [dbo].[Sucursal] ([IdSucursal])
GO
ALTER TABLE [dbo].[Sucursal_Producto] CHECK CONSTRAINT [FK_Sucursal_Producto_Sucursal]
GO
